<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une salle</title>
    <!-- Liens vers les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styles CSS personnalisés -->
    <style>
        body {
            background-image: url('/pngtree-an-empty-conference-room-with-a-large-table-and-dark-curtains-picture-image_2457521.jpg');
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255,255,255,0.5);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(48, 45, 45, 0.1);
        }
        
        .navbar {
            background-color: rgba(255,255,255,0.5);
        }
        
        .navbar-brand {
            color: #842204 !important;
            font-weight: bold;
        }
        
        .navbar-nav .nav-link {
            color: #842204 !important;
        }

        .btn-custom {
            background-color: #842204;
            border-color: #842204;
            border-radius: 20px;
            padding: 10px 20px;
            margin-bottom: 10px;
            display: block;
            text-align: center;
            color: #c2b8b8;
            text-decoration: none;
        }
        .text-center{
            color : #842204;
        }

        .btn-custom:hover {
            background-color: #ad2800;
            border-color: #702b06;
            text-decoration: none;
        }

        
    </style>
</head>
<body>
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">Reservation Salle de Reunion</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" style="color: #f8f9fa;">Back</a>
            </li>
        </ul>    
    </nav>

    <!-- Contenu principal -->
    <div class="container mt-4">
        <h1>Edit room</h1>
        <!-- Formulaire de modification -->
        <form action="/salle/<%= salle._id %>/edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="roomName">Room name :</label>
                <input type="text" class="form-control" id="roomName" name="name" value="<%= salle.name %>" required>
            </div>
            <div class="form-group">
                <label for="roomLocation">Location :</label>
                <input type="text" class="form-control" id="roomLocation" name="location" value="<%= salle.location %>" required>
            </div>
            <div class="form-group">
                <label for="roomCapacity">Capacity :</label>
                <input type="number" class="form-control" id="roomCapacity" name="capacity" value="<%= salle.capacity %>" required>
            </div>
            <div class="form-group">
                <label for="priceRoom">price/hour :</label>
                <input type="number" class="form-control" id="priceRoom" name="prix" value="<%= salle.prix %>" required>
            </div>
            <div class="form-group">
                <label for="priceRoom">State:</label>
                <input type="boolean" class="form-control" id="stateRoom" name="state" value="<%= salle.state %>" required>
            </div>
            <div class="form-group">
                <label for="roomImage">Picture of room:</label>
                <input type="file" class="form-control-file" id="roomImage" name="image" accept="image/*">
            </div>
            
            <button type="submit" class="btn btn-primary">Modify room </button>
        </form>
    </div>

    <!-- Liens vers les fichiers JavaScript de Bootstrap (optionnel) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
