<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Réservation</title>
    <!-- Liens vers les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styles CSS personnalisés -->
    <style>
        body {
            background-image: url('/pngtree-an-empty-conference-room-with-a-large-table-and-dark-curtains-picture-image_2457521.jpg');
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            width: 100%;
        }
        .alert {
            margin-bottom: 20px;
        }
        .navbar {
            background-color: #000000 !important;
            height: 40px; /* Réduire la hauteur de la navbar */
            margin-bottom: 20px; /* Ajout de marge en bas pour séparation */
        }
        .navbar-brand {
            color: #fff !important;
            font-weight: bold;
        }
        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #000000;
            color: #ffffff;
            text-align: center;
            padding: 0px 0;
        }
    </style>
</head>
<body>
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Reservation of meeting room</a>
        
    </nav>

    <div class="container">
        <h1>Modify Reservation</h1>
        <% if (typeof errorMessage !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
            </div>
        <% } %>
        <% if (typeof successMessage !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= successMessage %>
            </div>
        <% } %>
        <form action="/reservations/<%= reservation._id %>/edit" method="POST">
            <!-- Champ pour modifier les détails de la réservation -->
            <div class="form-group">
                <label for="startdate">Start date:</label>
                <input type="datetime-local" class="form-control" id="startdate" name="startsate" <% if (reservation && reservation.startdate) { %> value="<%= reservation.startdate.toISOString().slice(0, 16) %>" <% } %> required>
            </div>
            <div class="form-group">
                <label for="datefin">End date :</label>
                <input type="datetime-local" class="form-control" id="enddate" name="enddate" <% if (reservation && reservation.enddate) { %> value="<%= reservation.enddate.toISOString().slice(0, 16) %>" <% } %> required>
            </div>
            <input type="hidden" class="form-control" id="salleId" name="salleId" value = '<%= reservation.room %>'  required>
            <!-- Ajoutez d'autres champs pour les autres détails de la réservation à modifier -->
            <button type="submit" class="btn btn-primary">Modify</button>
        </form>
    </div>
    

    <!-- Liens vers les fichiers JavaScript de Bootstrap (optionnel) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
