<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des salles disponibles</title>
    <!-- Liens vers les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styles CSS personnalisés -->
    <style>
        /* Styles pour les boutons */
        .btn-action {
            margin-right: 10px;
        }
        body {
            background-image: url('/pngtree-an-empty-conference-room-with-a-large-table-and-dark-curtains-picture-image_2457521.jpg');
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            margin-top: 50px;
            background-color: rgba(255,255,255,0.5); 
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(48, 45, 45, 0.1);
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #842204;
            animation: colorChange 5s infinite alternate;
        }
        .navbar {
            background-color: rgba(255,255,255,0.5);
        }
        
        .navbar-brand {
            color: #842204 !important;
            font-weight: bold;
        }
        
        .card {
            margin-bottom: 20px;
            color: #032642;
            position: relative; /* Position relative pour placer l'image absolument */
        }
        .card-img-top {
            position: absolute; /* Position absolue pour aligner l'image à droite */
            top: 0;
            right: 0;
            width: 250px; /* Largeur de l'image */
            height: auto;
        }
        .btn-reserver {
            background-color: #842204; /* Couleur de fond du bouton Réserver */
        }
    </style>
</head>
<body>
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">Reservation for meeting room</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" style="color: #842204;">Back</a>
                </li>
            </ul> 
        </div>
    </nav>

    <!-- Contenu principal -->
    <div class="container mt-4">
        <h1>List of available rooms</h1>
        <% if (salles && salles.length > 0) { %>
            <% salles.forEach(function(salle) { %>
                
            <% }); %>
        <% } else { %>
            <p>no available room for the time being</p>
        <% } %>
        
        <% salles.forEach(function(salle) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= salle.name %></h5>
                    <p class="card-text">Capacity: <%= salle.capacity %></p>
                    <p class="card-text">location: <%= salle.location %></p>
                    <p class="card-text">price/hour: <%= salle.price %> Dinars</p>
                    <p class="card-text">state: <%= salle.state ? 'available' : 'Not available' %></p>
                    <% if (salle.image) { %>
                        <!-- Utilisez l'URL de l'image stockée dans la base de données -->
                        <img src="<%= salle.image %>" class="card-img-top" alt="Image de la salle">
                    <% } else { %>
                        <p>No image available</p>
                    <% } %>
                    <% if (salle.state === true) { %>
                        <a href="/reservations/reserve/<%= salle._id %>" class="btn btn-primary btn-reserver">Reserve</a>  
                    <% } %>
                    
                </div>
            </div>
        <% }); %>
    </div>

    <!-- Liens vers les fichiers JavaScript de Bootstrap (optionnel) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
